.card__Wrapper {
	width: 250px;
   max-height: 300px;
   margin: 1rem;
	border-radius: 0.5rem;
	border: 2px solid #e7e9f0;
	box-shadow: -0px -0px 5px 1px #e7e9f0;
   display: flex;
   padding: 0;
	flex-direction: column;
   overflow: hidden;
   cursor: pointer;
}

img {
	width: 100%;
	height: 120px;
   object-fit: cover;
	margin-bottom: 0.5rem;
}

.title__Wrapper {
	margin-top: 0.3rem;
}
